@import "../ewwrp.css";

/* links */
a {
  color:#990000; 
}

/* highlight current collection */
a#genrefiction { 
  background-color:#990000; 
  color:#FFFFFF; 
}

div.header { 
  background-color: #990000;
}

div.header a:hover {color:#FF9933;}

div#logo img { 
  background-color:#990000;
}
div#logo a:hover img { 
  background-color:#FF9933; 
}
div.image div.info { 
  color: #990000;
}
div.tbar-left { 
  background-color:#CD7F7F;
}
div.content div.title { 
  background-color:#CD7F7F;
}

hr.menu { 
  background-color: #990000;
  color: #990000;
}

div.searchnav, table.searchnav {
  background:#990000; 
}

div.searchnav a:hover {
  color: #FF9933;
}

span.match { 
  background-color:#003399; 
} 
 
