@import "footnotes.css";

/* possibilites for main site color: CD6600, AA3300? */

body { 
  padding:0px; 
  margin:0px; 
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #000000;
}

h1{font-size:13px;}
h2{font-size:12px;}
h3{font-size:11px;}
h4{font-size:10px;}

/* links */
a {
  text-decoration: none; 
  color:#AA3300;
}
a:hover {
  color: #FF9933; 
}

div#subpage div.header { 
  position:fixed;
}

div.header { 
  width:100%; 
  height:20px;
  background-color: #AA3300;
  margin:0px;
  z-index: 1;
}
div.hdr-content { 
  position:fixed;
}

div.header a { 
  text-decoration: none;
  font-weight: bold;
  font-size: 10px;
  line-height: 20px;
  color: #FFFFFF;
  padding-left: 1em; padding-right: 1em;
  border-left: 1px solid #FFFFFF;	/* vertical bars between links */
}
div.header a:hover {color:#FF9933;}
/* first header link is indented, and has no vertical bar before it */
div.header a#first { 
  border-left: none;   
  padding-left:382px; 
}

div.leftcol { 
  position:absolute;
  top:20px;
  width:380px; 
  margin-left:0px;
  margin-top: 0px;
}

div.leftcol-content { 
  position:fixed;
  top:20px;
  width:250px; 
  margin-left:0px;
  margin-top: 0px;
}

div.lcontent { 
  position:fixed;
  width:255px; 
}

div.content { 
  top:25px;
  padding-top:35px;
  margin-left:275px;
  margin-right:25px;
}

div.xmlcontent { 
 margin-left:1in;
}

/* branding - icons for emory & EWWRP */
div.brand { padding-left: 20px; height:74px; }
div.brand img#emory { margin-right:120px;}

div#logo img { 
  background-color:#000000;
  border:0px;
}
div#logo a:hover img { 
  background-color:#FF9933; 
}
div#emorylogo { 
  margin-right:121px; 
  float:left;
}
div#emorylogo img { 
  background-color:#000000;
}
div#emorylogo a { 
 color:#000000;
}

div#emorylogo a:hover img { 
  background-color:#FF9933; 
}

/* main navigation menu */
div.menu { padding-left: 20px; }
div.menu p { 
  margin-bottom: 15px;
  line-height:12px;
  height:12px;
  font-weight:bold;
}
/* special spacing for individual menu items */
p#m-browse { margin-top:25px; }
p#m-search { margin-bottom:2px; }
p#m-essay { margin-top:12px; }

form.menu { margin:0px;}
.input{background:white;border-width:2px;border-style:inset;border-color:black;position:relative;left:20px;}
.label{text-align:right;}
form.menu input[type="image"] { vertical-align:middle; }

form.menu input#search {
  width:55px;
  height:20px;
  background: url(images/button.jpg) no-repeat;
  outline:0px;
  border:0px;
  font-size:11px;
  line-height:12px;
  vertical-align:middle; 
}
form.menu input#search:hover {
  background: url(images/button-on.jpg) no-repeat;
}

form.menu a:hover input#search {
  background: url(images/button-on.jpg) no-repeat;
}

div.advsearch { 
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 10px;
  color: #000000;
  font-weight:normal;
}

div.rightcol { 
  margin:0px;
  position:absolute;
  top:20px;
  margin-left:380px;
  width:380px;
}
div.rightcol img { border:0px; }

div.image { 
  width:380px;
  height:550px;
}

div.image div.info { 
  color: #AA3300;
  font-family: Arial, Helvetica, sans-serif;
  font-weight:bold;
  font-size: 11px;
  z-index:3;
  margin-left: 10px;
  width:100%;
  height: 35px;
  position:absolute;
  top:515px; 
}
div.imgtextbg { 
  width:100%;
  height: 35px;
  position:absolute;
  top:515px; 
  background-color:white;
  opacity: .7;
  filter: alpha(opacity=70);
  z-index:2;
}

/* title bar across the middle of the page */
div.titlebar { 
  position:absolute;
  top:280px;
  left:0px;
  height:50px;
}
/* text in the title bar */
div.tbar-text { 
  font-size:30px; 
  font-family:Meta Bold Roman;
/*  font-weight: bold;*/
  letter-spacing: -1px;
  line-height: 50px;
  z-index:2;
}
div.titleleft { 
  width:375px;
  text-align:right;
/*border:1px solid yellow;*/
}
div.titleright { 
  left:380px;
  text-align:left;
  padding-left:5px;
}

/* background color on left side */
div.tbar-left { 
  width:380px;
  background-color:#808080;
  z-index:1;
}
/* transparent background on right side */
div.tbar-right { 
  margin-left:380px;
  width:380px;
  z-index:1;
  background-color:white;
  opacity: .5;
  filter: alpha(opacity=50);
}

div.content div.title { 
  padding-top:10px;
  padding-bottom:10px;
  margin-left:50px;
  width:375px;
  height:30px;
  font-size:20px;
  font-weight:bold;
  letter-spacing: -1px;
  background-color:#808080;
  text-align:center;
}
div.title a { color:#000000; }
div.title a:hover { color:#FF9933; }

/* descriptive paragraph */
div.description { 
  width:360px;
  height: 185px;
  margin-top:103px;
  margin-left:10px;
}

hr.menu { 
  background-color: #000000;	/* mozilla browsers */
  color: #000000;		/* IE */	
  border:0px;
  height: 1px;
  width: 100%;
  margin:0px;
}

div.collections { 
  margin-top:5px;
  width:100%;
  margin-left:15px;
}

/* links to the sub-collections */
div.collections ul { 
  list-style:none; 
  margin-left:0px;
  padding-left:0px;
}
div.collections li { 
  margin-bottom: 5px;
}
div.collections a { 
  font-weight:bold;
}
a#genrefiction    { color: #990000; }
a#genrefiction:hover { background-color: #990000; color:#FFFFFF; }
a#earlymodern     { color: #990066; }
a#earlymodern:hover { background-color: #990066; color:#FFFFFF;}
a#twentieth       { color: #660099; }
a#twentieth:hover { background-color: #660099; color:#FFFFFF; }
a#worldwar1       { color: #330099; }
a#worldwar1:hover { background-color: #330099; color:#FFFFFF;}
a#nativeamerican  { color: #003399; }
a#nativeamerican:hover  { background-color: #003399; color:#FFFFFF; }
a#abolition	  { color: #009966; }
a#abolition:hover { background-color: #009966; color:#FFFFFF;}
a#advocacy        { color: #339900; }
a#advocacy:hover  { background-color: #339900; color:#FFFFFF;}

div.copyright { 
  width:100%;
  font-weight: bold;
  font-size:10px;
}

/* div.leftcol-content div.copyright { */
div.lcontent div.copyright { 
  font-weight: normal;
  padding-left:10px;
}

/* next/prev/etc. navigation */
div.searchnav{
  background:#AA3300; 
  margin-bottom:10px; 
  height:20px;
  text-align:center;
}
/* for first/next/last links spacing to be consistent,
   all links should always be present with no link text if there is no url */
div.searchnav a, table.searchnav a {
  color:#ffffff; 
  line-height:20px;
  padding-left:20px;
  padding-right:20px;
  text-align:center;
/*  border:1px solid yellow;*/
}
div.searchnav a:hover, table.searchnav a:hover {
  color: #FF9933;
}

table.searchnav { 
  background:#AA3300; 
  margin-bottom:10px; 
  height:20px;
  text-align:center;
  width:100%;
  clear:both;
}
table.searchnav td { 
  width:25%; 
}

form#jumpnav { float:right; }

th { text-align:left; }

/* search/browse results */
table.search { width:100%; border-collapse: collapse;}
table.search td { border-bottom: 1px solid #AA3300;}
td.hits, th.hits { text-align:center; padding-right:5px;}
table.browse { width:100%;}
.num { width:10px; text-align:right;}


/* styling tranformed TEI content */

/* types of lists */
ul.simple li { list-style-type: none; }
/* note - ordered/numbered lists use non-integer numbers, style 1.1; use no bullet style */
ul.ordered li, ul.numbered li { list-style-type: none; }
ul.bulleted, ul.bullets { } 
ul.main {  } 
ul.sub {  }

span.title { font-style: italic; }
span.bibl {  }
span.label { font-weight: bold; padding-left: 3px; padding-right: 3px;}
span.epigraph { margin-left: 1in; font-style: italic;}
div.cit { margin-left: 1in; margin-bottom: 5px;}
div.cit span.bibl { margin-left: 0.5in; }

div.quote { margin-left:0.5in; }
div.quote .pagebreak { margin-left: -1in; } /* so all page #s will line up */

/* titlepage styling */
div.titlepage { text-align: center; }
p.main { font-size: 125%; }

div.advert div.figure, div.adverts div.figure { margin: 10px;}


/* styles taken from rend attributes */
span.underline, span.under { text-decoration: underline; }
span.bold { font-weight: bold; }
span.italic { font-style: italic; }
span.strikethrough { text-decoration: line-through; }
span.super, span.supserscript { vertical-align: super; font-size: 75%;}
span.subscript { vertical-align: sub; font-size: 75%; }
span.editorial { color: #545454; font-size: 10px; font-weight: normal; /* same as body text, even inside a head */}
span.overwritten {  }

.pagebreak { margin-left: -0.5in; }
span.pagebreak { float: left; clear: left;}
hr.pagebreak { clear:left; }
div.figure { text-align: center; }
div.content img { padding: 2px; border: none; }
a.pageimage img { margin-left: -0.75in; float: left; clear: left; border: none; max-width: 60px; } 
/* max-width to constrain alt text if images are turned off */
img.inline-left { float:left; margin: 0; }
img.inline-right { float:right; margin:0;}

p.pagebreak-toggle { text-align: right; }

div.milestone { text-align: center; }
hr.milestone { width: 50%; margin: auto;}	/* margin: auto = centered */
span.dot, span.star { padding-left: 2em; padding-right: 2em; font-size: 125%;}

ul.relative-toc { margin:0px;  }
ul.relative-toc li { list-style-type: none; }

span.match { font-weight:bold; background-color:#AA3300; color:#FFFFFF; }


div.doclinks { text-align: right; }

table.searchform { 
 margin:0.5in;
 border:0px;
}
table.searchform th { 
  text-align:right; font-weight:normal;
}
table.searchform input { border:0px; outline:0px; }
ul.searchopts { list-style-type:none; }