body {
  margin:1in;
}
th { 
  vertical-align: top;
  font-weight:normal;
  text-align:left;
}
th.section { 
  background:#efefef;
}

td.endsection { background:#efefef; }

.level1 { padding-left:2em; }
.level2 { padding-left:4em; }
.level2 { padding-left:6em; }
